<p>
    barcode works!
</p>
<label>条码：

  <input matInput [(ngModel)]="barcode" placeholder="barcode" (keyup.enter)="getSOInfo()" length="13" #barcodeel>
</label>
<button mat-button color="primary" (click)="getSOInfo()"><mat-icon>?</mat-icon></button>
<label><input type="checkbox" checked [(ngModel)]="markingAppendSeq">文字附加流水</label>
<label><input type="checkbox" checked [(ngModel)]="qrAppendSeq">二维码附加流水</label>
<mat-divider></mat-divider>
<label>日期
<app-ymddatepicker (date2)="catchDate($event)"></app-ymddatepicker>
</label>
<label>刻印日期<input [(ngModel)]="datestring" type="text" ></label>
<label>序号<input [(ngModel)]="seq" ></label>
<button mat-raised-button color="primary" (click)="AddSequence()">序号<mat-icon>+</mat-icon></button>
<app-info [so]="soInfo"></app-info>
<app-barcodelist></app-barcodelist>
<div>
    <h2>条码</h2>
    <div><span>文字条码: </span>{{markingText}}</div>
    <div><span>二维码: </span>{{qrText}}</div>
</div>