# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/server/dist
/server/client
/client/dist
/tmp
/out-tsc

# dependencies
/server/node_modules
/client/node_modules
/client0/node_modules


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
**/**/**/database/database.providers.ts
# System Files
.DS_Store
Thumbs.db
client/dist/client/favicon.ico
tree.txt
node_modules
