<nz-layout>
    <nz-content>
        <!-- <dfg-cost-search></dfg-cost-search> -->
        <nz-radio-group [(ngModel)]="searchType" nzName="radiogroup">
            <label nz-radio nzValue="cinvcode">存货编码</label>
            <label nz-radio nzValue="cinvaddcode">存货代码</label>
            <label nz-radio nzValue="cinvstd">规格型号</label>
            <label nz-radio nzValue="jno">销售订单</label>
            <label nz-radio nzValue="mno">生产订单</label>
        </nz-radio-group>
        <input
            type="text"
            #invcode
            nz-input
            [(ngModel)]="term"
            placeholder="input search text"
            (keyup.enter)="Search()"
            (focus)="$event.target.select()"
            nz-select-on-focus
        />
        <button nz-button nzType="primary" nzSearch (click)="Search()">
            <i nz-icon [nzType]="'search'"></i>
        </button>
        <nz-divider></nz-divider>
    </nz-content>
    <nz-layout>
        <nz-sider [nzWidth]="300" style="background: #fff">
            <span title>订单履历</span>
            <dfg-cost-history [history]="history"></dfg-cost-history>
        </nz-sider>
        <nz-layout style="padding: 0 24px 24px">
            <nz-content style="background: #fff; padding: 24px; width: 100%">
                <span>存货信息:</span>
                <dfg-inventory
                    [inventory]="inventory"
                    [hourrate]="hourRate"
                    [cost]="cost"
                ></dfg-inventory>
            </nz-content>

            <nz-content
                style="background: #fff; padding: 24px; min-height: 280px"
            >
                <div class="bom-table-title">
                    <span>制作件:</span>
                    <span
                        >工时费：{{
                            cost_m | currency: 'CNY':'symbol-narrow'
                        }}</span
                    >
                </div>
                <dfg-bom-m [bom]="bom_m"></dfg-bom-m>
            </nz-content>
            <nz-content
                style="background: #fff; padding: 24px; min-height: 280px"
            >
                <div class="bom-table-title">
                    <span>外购件:</span>
                    <span
                        >外购费：{{
                            cost_p | currency: 'CNY':'symbol-narrow'
                        }}</span
                    >
                </div>
                <dfg-bom-p [bom]="bom_p"></dfg-bom-p>
            </nz-content>
            <nz-content
                style="background: #fff; padding: 24px; min-height: 280px"
            >
                <div class="bom-table-title">
                    <span>入库记录:</span>
                    <!-- <span>外购费：{{cost_p|currency:'CNY':'symbol-narrow'}}</span> -->
                </div>
                <dfg-rdsin [rdsins]="rdsins"></dfg-rdsin>
            </nz-content>
        </nz-layout>
    </nz-layout>
</nz-layout>
