<nz-table #nestedTable [nzData]="bom_m" [nzPageSize]="10">
    <thead>
        <tr>
            <th nzShowExpand></th>
            <th>层号</th>
            <th>存货编码</th>
            <th>规格型号</th>
            <th>存货代码</th>
            <th>数量</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nestedTable.data">
            <tr>
                <td nzShowExpand [(nzExpand)]="data.expand"></td>
                <td>{{ data.lvl}}</td>
                <td>{{ data.inv.cinvcode }}</td>
                <td>{{ data.inv.cinvstd }}</td>
                <td>{{ data.inv.cinvaddcode }}</td>
                <td>{{ data.qty }}</td>
            </tr>
            <tr [nzExpand]="data.expand">
                <td></td>
                <td colspan="7">
                    <nz-table #innerTable [nzData]="data.routings" nzSize="middle" [nzShowPagination]="false">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>工序</th>
                                <th>说明</th>
                                <th>工时</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of innerTable.data">
                                <td>{{ data.opseq }}</td>
                                <td>{{ data.opname }}</td>
                                <td>{{ data.remark }}</td>
                                <td>{{ data.resqty }}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>