<nz-table #nestedTable [nzData]="bom" [nzPageSize]="10">
    <thead>
        <tr>
            <th nzShowExpand></th>
            <th>层号</th>
            <th>存货编码</th>
            <th>规格型号</th>
            <th>存货代码</th>
            <th>数量</th>
            <th>单价</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nestedTable.data">
            <tr>
                <td nzShowExpand [(nzExpand)]="data.expand"></td>
                <td>{{ data.lvl}}</td>
                <td>{{ data.inv.cinvcode }}</td>
                <td>{{ data.inv.cinvstd }}</td>
                <td>{{ data.inv.cinvaddcode }}</td>
                <td>{{ data.qty }}</td>
                <td>{{ data.inv.unitcost|currency:'CNY':'symbol-narrow' }}</td>
            </tr>
            <tr [nzExpand]="data.expand">
                <td></td>
                <td colspan="7">
                    <nz-table #innerTable [nzData]="data.inv.rdsins" nzSize="middle" [nzShowPagination]="false">
                        <thead>
                            <tr>
                                <th>日期</th>
                                <th>数量</th>
                                <th>单价</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of innerTable.data">
                                <td>{{ data.rdate |date:'yyyy-MM-dd'}}</td>
                                <td>{{ data.qty}}</td>
                                <td>{{ data.unitcost|currency:'CNY':'symbol-narrow' }}</td>

                            </tr>
                        </tbody>
                    </nz-table>
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>