* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.logo path {
    fill: none;
    pointer-events: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 7;
}

.row {
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: table;
}

.cell {
    width: 8%;
    height: 75px;
    display: table-cell;
}

@media all and (max-width:768px) {
    .cell {
        width: 100%;
        display: block;
    }
}