<nz-layout>
    <nz-content> </nz-content>
    <nz-divider></nz-divider>
    <nz-content>
        <nz-table>
            <thead>
                <tr>
                    <th nzShowExpand></th>
                    <th>层号</th>
                    <th>存货编码</th>
                    <th>规格型号</th>
                    <th>存货代码</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>金额</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </nz-table>
    </nz-content>
</nz-layout>
