<form nz-form [nzLayout]="'inline'" [formGroup]="inputForm" (ngSubmit)="submitForm()" #formGroupAccessor="ngForm">
  <!-- ↓ [nzGutter]="{ xs: 8, sm: 16, md: 24 }" -->
  <nz-form-item [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
    <nz-col [nzSpan]="4">
      <nz-form-label nzRequired nzFor="period">时间段</nz-form-label>
      <nz-form-control nzErrorTip="YYYYMM,202103代表2021年3月">
        <nz-input-group nzPrefixIcon="clock-circle">
          <input formControlName="period" nz-input placeholder="时间段" />
        </nz-input-group>
      </nz-form-control>
    </nz-col>

    <nz-col [nzSpan]="4">
      <nz-form-label nzRequired nzFor="operation">工序</nz-form-label>
      <nz-form-control nzErrorTip="不存在的工序！">
        <!-- <nz-input-group nzSuffixIcon="shop"> -->
        <nz-select formControlName="operation" placeholder="工序" style="text-align: right" tabindex="0">
          <nz-option nzValue="zz" nzLabel="在制"></nz-option>
          <nz-option nzValue="jhj" nzLabel="集合架"></nz-option>
          <nz-option nzValue="kf" nzLabel="库房"></nz-option>
        </nz-select>
        <!-- </nz-input-group> -->
      </nz-form-control>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-form-label nzRequired nzFor="operator">录入员</nz-form-label>
      <nz-form-control nzErrorTip="用户名必输">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="operator" nz-input placeholder="用友用户编码" tabindex="1" />
        </nz-input-group>
      </nz-form-control>
    </nz-col>

    <nz-col [nzSpan]="4">
      <nz-form-label nzRequired nzFor="barcode">条码</nz-form-label>
      <nz-form-control nzErrorTip="销售订单条码">
        <nz-input-group nzPrefixIcon="barcode">
          <input #barcode formControlName="barcode" nz-input placeholder="条码" tabindex="2"
            (blur)="barcodeChanged($event.target.value)" />
        </nz-input-group>
      </nz-form-control>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-form-label nzRequired nzFor="qty">数量</nz-form-label>
      <nz-form-control nzErrorTip="数量必输">
        <nz-input-group nzPrefixIcon="number">
          <input formControlName="qty" nz-input placeholder="数量" tabindex="3" />
        </nz-input-group>
      </nz-form-control>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-form-control></nz-form-control>
      <nz-form-control>
        <button nz-button #btnSave nzType="primary" [disabled]="!inputForm.valid" tabindex="4">
          添加
        </button>
      </nz-form-control>
    </nz-col>
  </nz-form-item>
</form>
