<form [formGroup]="searchForm" novalidate (ngSubmit)="onSubmit()">
    <div id="search-component">
        <h4>Search</h4>
        <section>
            <input #searchBox id="search-box" formControlName="term" />

            <mat-radio-group formControlName="searchType">
                <mat-radio-button value="inv">inv</mat-radio-button>
                <mat-radio-button value="jno">jno</mat-radio-button>
                <mat-radio-button value="mno">mno</mat-radio-button>
            </mat-radio-group>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </section>
    </div>

</form>
<mat-divider></mat-divider>
<app-costSearchResult></app-costSearchResult>