.wrap {
    display: flex;
}

.content {
    flex: 1;
}

.content.padding {
    padding-left: 40px;
}

.content p {
    margin-bottom: 2px;
}

.content .description {
    display: table;
}

.description .term {
    display: table-cell;
    margin-right: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    line-height: 20px;
}

.description .term:after {
    position: relative;
    top: -0.5px;
    margin: 0 2px 0 2px;
    content: ':';
}

.description .detail {
    display: table-cell;
    padding-bottom: 2px;
    width: 100%;
    line-height: 20px;
}

.extra-content {
    min-width: 100%;
    text-align: center;
}

.extra-content .label {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 22px;
}

.extra-content .detail {
    font-size: 18px;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    border: 1px solid grey;
}